div{
    background: #0d71bb;
    font-size: 10px;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}

button{
    background: #8f1eb4;
}